*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/foto-gratis/closeup-guitarra-electrica-negra-sobre-fondo-oscuro_169016-20381.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1697846400&semt=ais);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    width: auto;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
form
{
    background: #fff;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(40px);
    text-align: center;
    padding: 3%;
    justify-content: center;
}
.conteiner
{
    display: flex;
    margin: 5%;
}
.minconteiner
{
    width: 50%;
}
form input{
    background: none;
    color: #ffffff98;
    border: solid 2px #fff;
    border-radius: 5px;
    resize: none;
    margin-top: 3%;
}
form input:focus
{
    outline: none;
    color: #ffffff98;
}
button
{
    padding: 2%;
    color: #fff;
    background: transparent;
    border: solid 1px #fff;
    border-radius: 10px;
}
button:hover
{
    background: #322c28;
    transition: 0.5s;
}
button a
{
    color: #fff;
    text-decoration: none;
}
